body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #C2B2B4;
}

.header {
  display: flex;
  justify-content: space-between;
}

.search-input {
  height: 2rem;
}

.main-content {
  height: 30vh;
}

.photo-card-image {
  width: 100%;
}

.icon {
  height: 2rem;
  cursor: pointer;
}

.logo {
  height: 1.7rem;
}

.top-half {
  height: 50vh;
  background: #3E2A34;
}

.photo-list {
  background: #C2B2B4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.photo-card {
  border: 1px solid #938284;
  width: 14rem;
  height: 21.8rem;
  margin-top: 2rem;
  margin-left: 2rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photo-title {
  margin: 0;
  font-weight: 600;
}

.add-photo-form {
  height: 20vh;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.form-input {
  width: 100%;
  margin-bottom: 2rem;
}

label {
  margin-bottom: .5rem;
}

.fav-and-delete {
  background: #5B4447;
}