body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  background: #EAEAEA;
}

li {
  width: 57%;
  padding: 2rem;
  text-align: center;
  border: 1px solid #d2cccd;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 2rem;
}

h2 {
  color: #6e646b;
}

.idea-content {
  font-weight: 300;
  color: #7c7879;
}

label {
  display: inline-block;
  align-self: flex-start;
}

h1 {
  margin: 0;
  color: #b2a1b1;
}

.triples {
  color: #fff;
}

header {
  background: #524649;
  height: 10vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
}

.idea-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  height: 35vh;
  justify-content: space-around;
  align-items: center;
  background: #EAEAEA;
}

.form-container {
  background: #EAEAEA;
  height: 38vh;
  width: 100%;
}

input {
  width: 100%;
  margin: 0 auto;
}

.title-input {
  height: 2rem;
}

.content-input {
  height: 6rem;
}

.submit-button {
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  background: #6E646B;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
}

.submit-button:hover {
  background: #524649;
}

.disabled {
  background: #C2C1C0;
  cursor: default;
}

.disabled:hover {
  background: #C2C1C0;
}

.idea-list {
  list-style: none;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  background: #f9f9fa;
  margin: 0;
  padding-top: 2rem;
  padding-left: 0;
}

main {
  height: 90vh;
}

